<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Brett Grashorn
    ; Date: 6/22/23
    ; Description: About Page
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="row wrap">

    <div fxFlex>
        <div fxLayout="column">
            <div>
                <img class="about-img" src="./assets/rick-riordan.jpg">
            </div>
            <div>
                <em>Photo by Rhododendrites<a class="attribution-link" href="https://commons.wikimedia.org/wiki/File:Rick_Riordan_%2810439%29.jpg" target="_blank"></a>WikeMedia </em>
            </div>
        </div>
    </div>

    <div fxFlex>
        <h1 class="blue"></h1>
        <p>Rick Riordan is an American author born in the USA and is a best selling author of over 20 young adult novels. He is most famous for the Percy Jackson series. His most notable works heavily feature mythology and action. He taught middle school English for 15 years. The first book of the Percy Jackson series, The Lightning Thief, originated as a bed time story for his son but grew into a #1 best seller. </p>
        <em>Biograpy by: <a href="https://rickriordan.com/about/" target="_blank" class="attribution-link">Rick Riordan</a> </em>
    </div>
</div>
