<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Brett Grashorn
    ; Date: 6/11/23
    ; Description: About information for one composer
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 3.2 – Enhanced Composer App
    ========================================================================================================================
-->

<div class="composer-container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="align-center">Ludwig van Beethoven</h3>
      </div>
    </div>
  
    <hr />
  
    <div class="row about-composer">
      <div class="col-sm-3">
        <img src="./assets/beethoven.jpg" />
      </div>
      <div class="col-sm-9">
        <p>
          Ludwig van Beethoven was a German composer that was born in 1770. He is one of the most famous composers in history and has many well known works. His musical talent was apparent from an early age. He studied with Mozart and took lessons with Joseph Hadyn. Famous for becomign deaf in his later years, he continued to make and perfrom music relying on vibrations. Beethoven is one of the most recognized composers in the world and his work still lives on today. <em class="apa-reference"><a href="https://www.bl.uk/people/ludwig-van-beethoven" target="_blank">Source</a></em>
        </p>
      </div>
    </div>
  </div>
