/*
    ========================================================================================================================
    ; Title: app.component.scss
    ; Author: Brett Grashorn
    ; Date: 6/22/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Course GitHub
    ========================================================================================================================
 */

.logo {
    margin-top: 5px;

}

.main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}