/*
    ========================================================================================================================
    ; Title: app.component.scss
    ; Author: Brett Grashorn
    ; Date: 7/11/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 8.2 - Server-side Communications
    Course GitHub
    ========================================================================================================================
 */

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 25px;
  }
  
  .grid-container__item {
    padding: 20px;
    font-size: 30px;
  }
  
  .grid-container__ahref {
    text-decoration: none;
    cursor: pointer;
  }
  
  .grid-container__ahref:hover {
    text-decoration: underline;
  }
  
  .spinner {
    margin-top: 2%;
    margin-left: 45%;
  }