<!--
    ========================================================================================================================
    ; Title: my-details.component.html
    ; Author: Brett Grashorn
    ; Date: 6/11/23
    ; Description: App Component html
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    Instructions - Exercise 2.3 – Data Binding
    Instructions - Exercise 3.3 – Passing Data to Routes - Part 1
    ========================================================================================================================
-->

<router-outlet></router-outlet>