<!--
    ========================================================================================================================
    ; Title: app.component.html
    ; Author: Brett Grashorn
    ; Date: 6/27/23
    ; Description: App component html file
    ; Work Cited:
    ;Coding Guidelines
    ;Instructions - Exercise 6.3 - Layouts
    ;Course GitHub
    ========================================================================================================================
-->

<router-outlet></router-outlet>