<!--
    ========================================================================================================================
    ; Title: my-image.component.html
    ; Author: Brett Grashorn
    ; Date: 6/11/23
    ; Description: My image Component html
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    Instructions - Exercise 2.3 – Data Binding
    Instructions - Exercise 3.3 – Passing Data to Routes - Part 1
    ========================================================================================================================
-->
<img src="./assets/IMG-7262.jpg" alt="Brett" class="profile-img">